.task {
  background: rgb(240, 240, 240);
  margin: 5px auto;
  padding: 10px 20px;
  width: 100%;
}

h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task button {
  border: none;
  background: rgb(230, 230, 230);
}

.task.reminder {
  border-left: 5px solid lightblue;
} 