<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="text">Task</label>
        <!-- <input type="text" name="text" [(ngModel)]="text" id="text" placeholder="Add Task" /> -->
        <form class="example-form">
            <mat-form-field class="example-full-width efw1">
                <input matInput #message maxlength="256" (change)="keyIn($event)" name="text" [(ngModel)]="text">
                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
            </mat-form-field>
        </form>
    </div>
    <div class="form-control">
        <label for="day">Day & Time</label>
        <!-- <input type="text" name="day" [(ngModel)]="day" id="day" placeholder="Add Day & Time" /> -->
    </div>

    <form class="example-form">
        <mat-form-field class="example-full-width efw2" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput disabled [matDatepicker]="picker" (dateInput)="getDate($event)" [formControl]="dateEmpty">
            <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
    </form>

    <div class="form-control form-control-check">
        <label for="reminder">Set Reminder</label>
        <!-- <input type="checkbox" name="reminder" [(ngModel)]="reminder" id="reminder" /> -->
        <mat-slide-toggle name="reminder" [(ngModel)]="reminder" id="reminder"></mat-slide-toggle>
    </div>
    <input type="submit" value="Save Task" class="btn btn-block" />
</form>